<div>
    <div class="form_wrapper">
        <div>
            <h1 class="section_title">Request a Free Consultation!</h1>
            <form class="row">
                <div class="input-grp col-12 col-md-6">
                    <input class="input" placeholder="First Name*" required autocomplete="off" type="text" name="username" id="username">
                 </div>
                  <div class="input-grp col-12 col-md-6">
                    <input class="input" placeholder="Last Name*" required autocomplete="off" type="text" name="username" id="username">
                  </div>
                  <div class="input-grp col-12">
                    <input class="input"  placeholder="Email*" required autocomplete="off" type="text" name="email" id="email">
                 </div>
                  <div class="input-grp col-12">
                    <input class="input"  placeholder="Phone Number" required autocomplete="off" type="text" name="phne" id="phne">
                 </div>
                 <div class="input-grp col-12">
                    <textarea class="input"  rows="4"  placeholder="Message" required autocomplete="off" type="text" name="msg" id="msg"></textarea>
                 </div>
            </form>
            <div class="privacy_cntainr d-flex justify-content-between ">
                <div class="section_p"><a href="#intro">Privacy Policy</a></div>
                <div>
                    <label class="container">I Have Read The Privacy Policy
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="text-center">
            <button class="main_btn">
                Send Information
            </button>
            </div>
        </div>
    </div>
</div>
