<div>
    <div class="row hero_img_cntainr mx-md-5">
        <div class="col-12 col-md-6 mx-auto mx-md-0 text-center  p-4 ">
            <img class="rounded-3 hero_img" src="../../../assets/hero_img_pic.png" 
            
            alt="hero_image">
                     <!-- srcset="../../../assets/1000x1121/hero_img_pic.png 1000w,
                    ../../../assets/2000x2242/hero_img_pic.png 2000w, 
                    ../../../assets/4000x4484/hero_img_pic.png 4000w" -->
        </div>
        <div class="col-12 my-auto  col-md-6  inter p-md-4">
            <h1 class="fw-bolder vw-5 " style="filter: drop-shadow(7px 1px 2px #9a9a9a);">BEST LEGAL ADVISOR FOR YOU</h1>
            <h2 class="fw-bold vw-3 ">Taxation & Revenue Advocate</h2>
            <div type="button" class="btn btn-success fw-bold  fs-4 p-2 my-4 mx-auto mx-md-0">
                    Schedule a Consultation
            </div>
        </div>
    </div>  
    <div class="law_slider_cntainr bg-dark-subtle container-fluid rounded-3">
        <h2 class="text-center fw-medium  inter pt-2 ">Did You Know ?</h2>
    </div>

</div>
