<div>
    <section id="main_banner">
        <div class="section_container d-flex justify-content-center align-content-center py-5 ">
            <h1 class="banner_title text-white">Services</h1>
        </div>
    </section>
    <section id="intro">
        <div class="section_container">
            <p class="section_p text-center">We pride ourselves on offering a diverse range of professional services to meet your needs. 
                Whether you're seeking legal guidance, financial expertise, or assistance with official documentation, we are 
                here to support you. Explore our services below and discover how we can help you achieve 
                your goals.</p>
        </div>
    </section>
    <section id="service_list">
        <div class="section_container">
            <div>
                <p class="section_title" style="font-size: var(--fs-600);">Our Services</p>
            </div>
            <div class="row justify-content-between ">
                <div class="card_wrapper col-12 col-lg-5 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="assets/hero_img_pic1.jpg" class="card-img-top" alt="image of lady justice-source:https://unsplash.com/photos/woman-holding-sword-statue-during-daytime-DZpc4UY8ZtY">
                        <div class="card-body">
                          <h5 class="section_title text-center p-0 m-0">Legal Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group text-center section_p">
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Legal advice and representation</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold" >Contract drafting and review</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Dispute resolution</li>
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
                <div class="card_wrapper col-12 col-lg-5 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="assets/accounting_card.jpg" class="card-img-top" alt="black-click-pen-beside-macbook-pro-on-table-source:https://unsplash.com/photos/black-click-pen-beside-macbook-pro-on-table-aG-pvyMsbis">
                        <div class="card-body">
                          <h5 class="section_title text-center p-0 m-0">Accounting Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group  text-center section_p">
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Bookkeeping and financial statements</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Tax planning and compliance</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Payroll services</li>
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
            </div>
            <div class="row justify-content-between">
               <div class="card_wrapper col-12 col-lg-5 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="assets/tax_card.jpg" class="card-img-top" alt="red  neon light TAX signage-source:https://unsplash.com/photos/red-love-neon-light-signage-qAQsVsSxp_w">
                        <div class="card-body">
                          <h5 class="section_title text-center p-0 m-0">Taxation Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group text-center section_p">
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Personal/Corporate tax preparation</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Tax optimization strategies</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">IRS representation</li>
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
                <div class="card_wrapper col-12 col-lg-5 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="assets/other_services_card.jpg" class="card-img-top" alt="human hand neon signage-source:https://unsplash.com/photos/human-hand-neon-signage-AT5vuPoi8vc">
                        <div class="card-body">
                          <h5 class="section_title text-center p-0 m-0">Other Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group  text-center section_p">
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Shop Licenses</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Factory License</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Marriage Certificate</li>
                          <li class="bg-black text-white list-group-item p-2 fw-bold">Passport Services</li>
                          
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
            </div>
        </div>
    </section>   
    
</div>
