<div>
    <section id="main_banner">
        <div class="section_container d-flex justify-content-center align-content-center py-5 ">
            <h1 class="banner_title text-white">Services</h1>
        </div>
    </section>
    <section id="intro">
        <div class="section_container">
            <p class="section_p text-center">We pride ourselves on offering a diverse range of professional services to meet your needs. 
                Whether you're seeking legal guidance, financial expertise, or assistance with official documentation, we are 
                here to support you. Explore our services below and discover how we can help you achieve 
                your goals.</p>
        </div>
    </section>
    <section id="service_list">
        <div class="section_container">
            <div>
                <p class="section_title" style="font-size: var(--fs-600);">Our Services</p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="../../../assets/hero_img_pic1.jpg" class="card-img-top" alt="image of lady justice">
                        <div class="card-body">
                          <h5 class="section_title text-center">Legal Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group list-group-flush text-center section_p">
                          <li class="list-group-item p-2">Legal advice and representation</li>
                          <li class="list-group-item p-2">Contract drafting and review</li>
                          <li class="list-group-item p-2">Dispute resolution</li>
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
                <div class="col-12 col-lg-6 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="../../../assets/accounting_card.jpg" class="card-img-top" alt="table top with a notepad and a laptop">
                        <div class="card-body">
                          <h5 class="section_title text-center">Accounting Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group list-group-flush text-center section_p">
                          <li class="list-group-item p-2">Bookkeeping and financial statements</li>
                          <li class="list-group-item p-2">Tax planning and compliance</li>
                          <li class="list-group-item p-2">Payroll services</li>
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
            </div>
            <div class="row">
               <div class="col-12 col-lg-6 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="../../../assets/tax_card.jpg" class="card-img-top" alt="image of lady justice">
                        <div class="card-body">
                          <h5 class="section_title text-center">Taxation Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group list-group-flush text-center section_p">
                          <li class="list-group-item p-2">Personal/Corporate tax preparation</li>
                          <li class="list-group-item p-2">Tax optimization strategies</li>
                          <li class="list-group-item p-2">IRS representation</li>
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
                <div class="col-12 col-lg-6 p-0 p-md-5 mb-lg-0 mb-3">
                    <div class="card">
                        <img src="../../../assets/other_services_card.jpg" class="card-img-top" alt="image of lady justice">
                        <div class="card-body">
                          <h5 class="section_title text-center">Other Services</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="list-group list-group-flush text-center section_p">
                          <li class="list-group-item p-2">Shop Licenses</li>
                          <li class="list-group-item p-2">Factory License</li>
                          <li class="list-group-item p-2">Marriage Certificate</li>
                          <li class="list-group-item p-2">Passport Services</li>
                          
                        </ul>
                        <!-- <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div> -->
                      </div>
                </div>
            </div>
        </div>
    </section>   
    
</div>
