

<main>
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-black   navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="#"><img src="../assets/client_logo1.png" width="185px" alt="AdvAshok"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end me-md-5 fs-5" id="navbarNavDropdown">
        <ul class="navbar-nav text-center ">
          <li class="nav-item me-md-4">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item me-md-4">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Content -->
  <!-- <div> -->
   
    <!-- <app-content-list></app-content-list>  -->
  <!-- </div> -->
  <footer class="border-top border-3 fixed-bottom border-success footer bg-black text-white text-center">
    
    <div class="row mt-3">
      <div class="col-12 col-md-6 border-3 border-end border-white mb-2 ps-md-5"><img src="../assets/client_logo1.png" alt="advashok" width="200px"></div>
        <div class="col-12 col-md-6 pe-md-5">
          <div class="container bg-white rounded-2 p-1 mb-2" style="width: 220px;">
            <img src="../assets/vecteezy_realistic-phone-call-button-hotline-and-call-center-icon_18842694.png" width="40px">
            <div class="d-inline text-black fw-bold inter ps-2" style="width: fit-content;">+91 98255 12069</div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12"><p class="text-white inter fs-5">Follow Us</p></div>
      <div class="col-12">
        <div class="container border-bottom  border-bottom-3 border-white ">
          <img class="p-1" src="../assets/vecteezy_facebook-logo-png-facebook-icon-transparent-png_18930476.png" width="50px">
          <img class="p-1" src="../assets/vecteezy_x-new-twitter-logo_34800659.png" width="50px">
          <img class="p-1" src="../assets/logo-ig-png-32455.png" width="50px">
        </div>
      </div>
    </div>

    <div class="inter text-white"> &copy;2024 &bull; All Rights Reserved By Ashok Sharma</div>
    <div class="container mb-1">
      <div class="inter d-inline  text-white">Developed By:&nbsp;&nbsp;</div>
      <div class="d-inline "><img src="../assets/webflex_logo_white.png" width="120px"></div>
    </div>
    
  </footer>

</main>



<router-outlet />
