#main_banner{
    background: #454545 url("../../../assets/gavel-scaled.jpg") no-repeat center;
    background-size: cover;
    margin-right: 0;
    margin-left: 0;
}
.banner_title{
    font-family: var(--fs-heading);
    font-size: calc(var(--fs-xl) - 0.5rem);
}
#intro{
    
}