#main_banner{
    background: #454545 url("../../../assets/gavel-scaled.jpg") no-repeat center;
    background-size: cover;
    margin-right: 0;
    margin-left: 0;
    padding-top: 10vh;
}
.banner_title{
    font-family: var(--fs-heading);
    font-size: calc(var(--fs-xl) - 0.5rem);
}
#contact_info{
   padding: 2% 4%;
    margin: 0 8rem;
    border-radius: 15px;
    background-color: black;
    p{
        font-family: var(--fs-body);
        font-optical-sizing: auto;
        font-size: var(--fs-400);
    }
    a{
        text-decoration: none;
        color: white;
    }
    .map_responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe{
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius:15px;
    }
    }
}

@media screen and (max-width:766px) {
    #contact_info{
      margin: 0 1rem;
    }
  }
  @media screen and (max-width:381px) {
  .contact_container{
    align-items: center;
  }
}