<div>
    <section id="main_banner">
        <div class="section_container d-flex justify-content-center align-content-center py-5 ">
            <h1 class="banner_title text-white">Contact Us</h1>
        </div>
    </section>
</div>
<section id="intro">
    <div class="section_container">
        <p class="section_p text-center">Thank you for visiting our website! We value your interest and welcome any inquiries, 
            feedback, or collaboration opportunities. Whether you have questions about our services, want to discuss a project, 
            or simply want to say hello, we're here to listen. Please feel free to reach out using the contact details below. We 
            look forward to connecting with you!</p>
    </div>
</section>
<section class="contact_info">
    <div class="section_container ">
        <p class="section_p fw-medium">432, Marvella business hub, Opp. RTO pal, Pal Gam, Surat, Gujarat</p>
        <p class="section_p fw-medium">info&#64;advashok.com</p>
        <p class="section_p fw-medium">+91 98255 12069</p>
    </div>
</section>
<app-contact-form></app-contact-form>
