<div>
    <section id="main_banner">
        <div class="section_container d-flex justify-content-center align-content-center py-5 ">
            <h1 class="banner_title text-white">Contact Us</h1>
        </div>
    </section>
</div>
<section id="intro">
    <div class="section_container">
        <p class="section_p text-center">Thank you for visiting our website! We value your interest and welcome any inquiries, 
            feedback, or collaboration opportunities. Whether you have questions about our services, want to discuss a project, 
            or simply want to say hello, we're here to listen. Please feel free to reach out using the contact details below. We 
            look forward to connecting with you!</p>
    </div>
</section>
<section id="contact_info" class=" mb-2">
    <div class="section_container ">
       <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center  text-white">
                <div class="contact_container fw-medium px-1 d-flex flex-column">
                    <p><i class="fa-solid fa-map fa-lg" style="color: #ffffff;padding-right: 10px;"></i>432, Marvella business hub, Opp. RTO pal, Pal Gam, Surat, Gujarat</p>
                    <p><i class="fa-solid fa-envelope fa-lg" style="color: #ffffff;padding-right: 10px;"></i><a class="section_p" href="mailto:advashoksharma1973@gmail.com">advashoksharma1973&#64;gmail.com</a></p><br>
                    <p><i class="fa-solid fa-phone fa-lg" style="color: #2effc7;padding-right: 10px;"></i><a class="section_p" href="tel:+919825512069">+91 98255 12069</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 map_responsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.2115629764744!2d72.78043805058437!3d21.183753012120075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04dd81389fadb%3A0x3966cd3ce8b56481!2sAdvocate%20AshokKumar%20sharma!5e0!3m2!1sen!2sca!4v1712335255928!5m2!1sen!2sca"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </div>
</section>
<app-contact-form></app-contact-form>
