

<main>
  <header class="primary-header d-flex align-items-center justify-content-between p-1 bg-black fixed-top ">
    <div class="logo">
      <a routerLink="/home">
      <img src="assets/client_logo1.svg" class="logo-img rounded-5" width="190px">
      </a>
    </div>
    
    <!-- Navbar Toggler -->
    <div class="mobile-nav-toggle"  aria-controls="primary-navigation" [attr.aria-expanded]="isVisible ? 'true' : 'false'">
      <span class="visually-hidden">Menu</span>
      <i (click)="mobileMenu()" class="fa-solid fa-2xl" [ngClass]="{'fa-bars-staggered': !isVisible, 'fa-xmark': isVisible}"
      [style.color]="isVisible ? 'red' : '#74fd4e'"></i>
    </div>
    <!-- Navbar -->
    
    <nav class="me-5">

      <ul id="primary-navigation" [attr.data-visible]="isVisible ? 'true' : 'false'" class="d-flex list-unstyled heebo">
        <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page">Services</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page">Contact</a></li>
        <li><a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Disclaimer</a></li>
      </ul>
    </nav>
  </header>
  <!-- Scroll to Top Button-->
  <button
    type="button"
    class="btn scroll-to-top"
    (click)="scrollToTop()"
    [hidden]="!showScrollToTop">
    <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #44fd94;"></i>
</button>
    <!-- Disclaimer -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">DISCLAIMER & CONFIRMATION</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p class="section_p">As per the rules of the Bar Council of India, we are not permitted to solicit work and advertise. The user 
                  acknowledges the following:</p>
                  <ul class="ps-3">
                      <li class="section_p">There has been no advertisement, personal communication, solicitation, invitation or inducement of any 
                          sort whatsoever from us or any of our members to solicit any work through this website;</li>
                      <li class="section_p">The user wishes to gain more information about us for his/her own information and use;</li>
                      <li class="section_p">The information about us is provided to the user only on his/her specific request and any 
                          information obtained or materials downloaded from this website is completely at the user's volition and any 
                          transmission, receipt or use of this site would not create any lawyer-client relationship.</li>
                  </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Disclaimer End -->
  <router-outlet></router-outlet> 
  <footer
    class="border-top border-3 border-success footer bg-black text-white text-center">
    <div class="row mt-3">
      <div class="col-12 col-md-6 border-3 border-end border-white mb-2 ">
        <img src="assets/client_logo1.svg" class="rounded-5" alt="advashok" width="200px">
      </div>
      <div
        class="col-12 col-md-6 text-center d-flex justify-content-center align-items-center">
        <div
          class="container footr_call border border-2 border-white rounded-2 p-2 mb-2"
          style="width: 220px;">
          <!-- <img
            src="assets/vecteezy_realistic-phone-call-button-hotline-and-call-center-icon_18842694.png"
            width="40px"> -->
            <i class="fa-solid fa-phone-volume fa-xl" style="color: #6df55b;"></i>
          <div class="d-inline fw-bold heebo ps-2"
            style="width: fit-content;"><a class="text-decoration-none text-white " href="tel:+919825512069">+91 9825512069</a></div>
        </div>
      </div>
    </div>

    <div class="row mt-1 p-0">
      <div class="col-12 p-0"><p class="text-white madimi fs-4">Follow
          Us</p></div>
      <div class="col-12">
        <div
          class="container border-bottom  border-bottom-3 border-white mx-auto">
          <ul class="wrapper">
            <li class="icon facebook">
              <a href="https://www.facebook.com/sharma.ashokkumar.1973" target="_blank">
              <span class="tooltip">Facebook</span>
              <span><i class="fa-brands fa-facebook fa-xl"></i></span>
            </a>
            </li>
            <li class="icon instagram">
              <a href="https://www.instagram.com/advashoksharma_/" target="_blank">
              <span class="tooltip">Instagram</span>
              <span><i class="fab fa-instagram fa-xl"></i></span>
            </a>
            </li>
            <li class="icon twitter">
              <a href="https://twitter.com/advashoksharma_" target="_blank">
              <span class="tooltip">Twitter</span>
              <span><i class="fa-brands fa-square-x-twitter fa-xl"></i></span>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="roboto text-white"> &copy;2024 &bull; All Rights Reserved By
      Ashok Sharma</div>
    <div class="container d-flex align-items-baseline  justify-content-center  my-1 mx-auto">
      <div class="roboto text-white">Developed By:&nbsp;&nbsp;</div>
      <div><img src="assets/webflex_logo_white.png"
          width="100px"></div>
    </div>
  </footer>

</main>
