/* You can add global styles to this file, and also import other style files */
/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.fs-lrge {
    font-size: 300%;
}

.fs-xlrge {
    font-size: 500%;
}

.fs-xxlrge {
    font-size: 700%;
}

// .cstm-btn {
//     background-color: white;
//     filter: drop-shadow(-5px 3px 2px #000000);
//     border: 2px solid black;

// }

// .cstm-btn:hover {
//      background-color: black;
//     color: rgb(255, 255, 255);
// }

.vw-5{
    font-size: 5vw;
}
.vw-2{
    font-size: 2vw;
}
.vw-3{
    font-size: 3vw;
}