

/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Madimi+One:400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Oswald:wght@200..700&display=swap');
:root{
    --fs-xl:clamp(2rem,4.5vw + 1rem,5rem);
    //--fs-600:clamp(1.8rem,3vw + 1rem,2rem);
    --fs-600:clamp(1.2rem,1rem + 1vw,2.2rem);
    --fs-500:clamp(1.1rem,1rem + 0.6vw,2rem);
    --fs-400:clamp(1rem,1rem + 0.5vw,1.5rem);
    //font-size:clamp(1rem,1rem + 0.6vw,2rem);
    --fs-heading:"Oswald", sans-serif;
    --fs-body: "Heebo", sans-serif;
    --fs-body-alt: "Heebo", sans-serif;
}
/* CSS Reset*/

// *,
// *::before,
// *::after{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
// html{
//     font-size: 16px;
// }
.heebo{
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
}
.oswld{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.montesserat {
  font-family: 'Montserrat', sans-serif;
}
.mukta{
    font-family: "Mukta", sans-serif;
  }

.roboto{
    font-family: "Roboto", sans-serif;
}
.madimi{
    font-family: "Madimi One", sans-serif;
   }

.text-justify{text-align:justify !important;}
body{
    overflow-x: hidden;
}
//Section Styling
section{
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /*height: 90vh;*/
  margin: 0 3.50rem;
  box-sizing: border-box;
  /*min-height: fit-content;*/
  transition: transform 350ms ease-out
}
.section_title{
font-family: var(--fs-heading);
font-optical-sizing: auto;
font-size: var(--fs-600);
font-weight: 800;
text-align: center;
padding-bottom: 1rem;
//z-index: 100;*/
}
.section_sub_heading{
font-family: var(--fs-body);
font-optical-sizing: auto;
font-size: var(--fs-500);
font-weight: 600;
}
.section_p{
font-family: var(--fs-body);
font-optical-sizing: auto;
font-size: var(--fs-400);
font-weight: 400;
}
.hghlghtd_text{
font-size: calc(var(--fs-400) + 0.2rem);
font-weight: 500;
}

//GlassMorphism
.blur_bg{
background: rgba( 98, 98, 98, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
//Buttons
.buttn {
  all: unset;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  cursor: pointer;
}

.buttn > .circle {
  --size: 2.5rem;
  position: absolute;
  left: 0;
  display: block;
  width: var(--size);
  height: var(--size);
  background-color: lawngreen;
  border-radius: 1.5rem;
  z-index: -1;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.buttn > .text {
  margin-left: 40px;
  font-family: var(--fs-body);
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.45s;
}
.circle > i {
  font-size: 1rem;
  position: absolute;
  left: calc(var(--size) / 2);
  top: calc(var(--size) / 2);
  transform: translate(-50%, -50%);
  color: black;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.buttn:hover > .circle {
  width: 100%;
}
.buttn:hover > .circle > i {
  translate: 1rem 0;
}
.buttn:hover > .text {
  color: black;
}

@media screen and (max-width:750px) {
  section{
    margin: 0 1.5rem;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
